/********************************/
/* CUSTOM PROPERTIES */
:root {
  /* Colors */
  --orange: #ff9900;
  --orange-dark: #e57201;
  --grey-50: #eceff1;
  --grey-100: #cfd8dc;
  --grey-200: #b0bec5;
  --grey-300: #90a4ae;
  --grey-400: #78909c;
  --grey-500: #607d8b;
  --grey-600: #546e7a;
  --grey-700: #455a64;
  --grey-800: #37474f;
  --grey-900: #263238;
  --white: #fff;
  --black: #000;

  --orange-gradient: linear-gradient(
    to right,
    var(--orange),
    var(--orange-dark)
  );

  /* Fonts */
  --font-body: 'Inter', sans-serif;
}

/********************************/
/* BASIC RESET */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--grey-dark);
  font-family: var(--font-body);
  font-size: 1.6rem;
  font-weight: 300;
  background-color: var(--grey-200);
}

img {
  display: inline-block;
  width: 100%;
}

a {
  text-decoration: none;
  display: inline-block;
}

/********************************/
/* MAIN LAYOUT */

/* Mobile frame */
.mobile-frame {
  width: 100%;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--white);
  min-height: 100vh;
  position: relative;
}

/* Header */
.header {
  background-image: var(--orange-gradient);
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header-logo {
  width: 10rem;
}

.header-download {
  color: white;
  font-size: 2rem;
  position: absolute;
  right: 2.4rem;
}

/* Footer */
.footer {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--white);
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  height: 6rem;
  align-items: center;
  justify-content: space-between;
  gap: 0.6rem;
}

.footer-item {
}

.footer-item-highlight .footer-link-icon {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  font-size: 2.6rem;
  width: 4.8rem;
  height: 4.8rem;
  color: var(--white);
  background-color: var(--orange-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 4px solid var(--white);
}

.footer-item-highlight .footer-link::before {
  content: '';
  display: inline-block;
  height: 2.4rem;
  width: 2.4rem;
}

.footer-link:link,
.footer-link:visited,
.footer-link:hover,
.footer-link:active {
  color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

.footer-link-icon {
  font-size: 2rem;
}

.footer-link-text {
  text-transform: uppercase;
  font-size: 1.2rem;
}

.footer-link.active {
  color: var(--orange-dark);
}

/* Floating menu */
.floating-nav {
  position: absolute;
  right: 1.2rem;
  bottom: 10rem;
}

.floating-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 2rem;
}

.floating-item {
}

.floating-btn,
.floating-btn:link,
.floating-btn:visited,
.floating-btn:hover,
.floating-btn:active {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  background-color: var(--white);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.floating-btn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
